<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <a class="navbar-brand" [routerLink]="['/']">TAWRESTaurant</a>

  <button
    type="button"
    class="navbar-toggler hidden-sm-up"
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
    *ngIf="auth"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    [ngbCollapse]="isNavbarCollapsed"
    *ngIf="auth"
  >
    <app-navs-cashier
      class="mr-auto"
      [auth]="auth"
      *ngIf="auth.role == 'Cashier'"
    ></app-navs-cashier>

    <app-nav-user-profile class="mr-0" [auth]="auth"></app-nav-user-profile>
  </div>
</nav>
